/* TODO Add site wide styles */
body {
    font-family: Arial, Helvetica, sans-serif;
}

.modal-button {
    border-radius: 25px;
    border: none;
    padding: 16px;
    font-size: 16px;
    color: white;
    margin: 0px 5px 0px 0px;
}
.delete-button {
    border-radius: 25px;
    background-color: rgb(0, 130, 148);
    border: none;
    padding: 16px;
    font-size: 16px;
    color: white;
}
.errors-text {
    color: red;
}
.profile-dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 1px 1px 5px lightgray;
    padding: 12px;
    color: #212121;
    font-size: 14px;
    left: auto;
    right: 10px;
    width: 156px;

}
.logout-button {
    background-color: white;
    border: none;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}
.dropdown-element {
    margin: 12px 0px 0px;
    font-size: 14px;
}
.logout-button:hover {
    color: #0070f3;
}
.dropdown-line {
    border-top: 1px solid lightgray;
    padding: 10px 0px 0px;
}
.modal-button:hover {
    background-color: rgba(246, 88, 88, 0.782);
}
.delete-button:hover {
    background-color: rgba(246, 88, 88, 0.782);
}
