/* TODO Add site wide styles */
body {
    font-family: Arial, Helvetica, sans-serif;
}

.modal-button {
    border-radius: 25px;
    background-color: rgb(0, 130, 148);
    border: none;
    padding: 16px;
    font-size: 16px;
    color: white;
}
