.event-details-page {
    display: flex;
    flex-direction: column;

}

.event-header {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: center;
    border-bottom: 2px solid rgb(224, 224, 224);
    width: 100%;
    padding: 0px 0px 10px 0px
}
.event-header-title {
    width: 980px;
}
.event-main-page {
    display: flex;
    justify-content: center;
    height: auto;
}

.group-hosting {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 24px;
    margin: 24px;
    width: 75%;
}

.group-image-icon {
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.image-vs-text {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0px 0px 0px 16px;
}

.group-availability-icon {
    color: rgb(147, 147, 147);
    font-weight: lighter;
    font-size: 14px;
    margin: 4px 0px 0px 0px;
}

.group-name-icon {
    margin: 0px;
    font-size: 14px;
}

.event-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
}

.date-time-event {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 75%;
    background-color: white;
    border-radius: 10px;
    padding: 24px;
    margin: 0px 24px 24px 24px;
}

.start-end-times {
    display: flex;
    flex-direction: row;
    margin: 0px;
    justify-content: space-between;
    color: rgb(147, 147, 147);
    width: 100%;
}
.new-date {
    margin: 0px;
}
.event-times {
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 14px;
    justify-content: space-around;
    margin: 0px 0px 20px 20px;
}
.event-loc {
    display: flex;
    flex-direction: row;
}
.fa-location-dot {
    color: rgb(147, 147, 147);
}
.event-location-pin {
    font-size: 14px;
    margin: 0px 0px 0px 20px;
}
.bottom-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    bottom: 0px;
    background-color: white;
    width: 100%;
}
.bottom-nav-text {
    display: flex;
    align-items: center;
    width: 980px;
    justify-content: space-between;
    padding: 20px 0px;
}
.left-bottom-bar {
    display: flex;
    flex-direction: column;
}
.right-bottom-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.event-buttons {
    display: flex;

}
.start-date-bottom {
    color: rgb(33, 33, 33);
    font-size: 16px;
    font-weight: lighter;
    margin: 4px 0px;
}
.event-name-bottom {
    color: rgb(33, 33, 33);
    font-size: 16px;
    font-weight: bold;
    margin: 4px 0px;
}
.event-price-bottom {
    font-weight: bold;
    margin: 4px 0px;
}
.event-info {
    width: 700px;
}
.price-spots-text {
    display: flex;
    flex-direction: column;
    margin: 4px 20px;
    font-size: 16px;
}
.spots-left {
    font-weight: lighter;
    margin: 4px 0px;
    color: rgb(33, 33, 33);
}
.modal-button {
    background-color: rgb(248, 94, 94);
    border-radius: 10px;
    font-weight: bolder;
}
.delete-button {
    background-color: rgb(248, 94, 94);
    border-radius: 10px;
    font-weight: bolder;
}
.other-event-cards {
    display: flex;
    justify-content: space-between;
}
