.hidden {
    display: none
}

.logo-image {
    height: 52px;
    width: 100%;
    margin: 0px 0px 0px 20px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    border-bottom: 1px solid lightgray;
}

li {
    list-style: none
}
